#container {
  width: 85%;
  margin: 0 auto;
  #filter {
    padding: 2rem 0 1rem;
    input[type="text"] {
      position: relative;
      min-width: 6rem;
      border: 0.05rem solid rgb(128, 128, 128);
      border-radius: 0.4rem;
      outline: none;
      font-size: 1rem;
      background-color: white !important;
      padding: 0.7rem;
    }
    input:-webkit-autofill {
      background-color: white !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  #output {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1.7rem;

    #user {
      border: 0.05rem solid rgb(128, 128, 128);
      display: grid;
      grid-template-columns: 3fr 7fr;
      cursor: pointer;

      #left {
        img {
          padding: 1rem;
          width: 5rem;
        }
      }
      #right {
        ol {
          list-style-type: none;
          text-align: left;
          font-size: 1.2rem;
        }
        span {
          color: orange;
        }
      }
    }
  }
}
