<header [ngStyle]="{ 'background-color': theme.bg_color }">
  <div id="container">
    <a routerLink="/start" id="logo">
      <img src="assets/icons/SVLogo_weiss.svg" />
    </a>
    <div id="nav">
      <nav>
        <ul>
          <li *ngFor="let element of list">
            <a routerLink="{{ element.linkTo }}">{{ element.val }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <a routerLink="/login" id="settings">
      <img src="assets/icons/settings.svg" />
    </a>
  </div>
</header>
