<div id="container">
  <div
    class="box"
    [routerLink]="['./geben']"
    [ngStyle]="{
      'background-image':
        'url(https://www.sv-hag.de/assets/img/Nachhilfe-geben2.0.png)'
    }"
  >
    <h1 class="centerH">Nachhilfe Geben</h1>
  </div>
  <div
    class="box"
    [routerLink]="['./nehen']"
    [ngStyle]="{
      'background-image':
        'url(https://www.sv-hag.de/assets/img/Nachhilfe-nehen.png)'
    }"
  >
    <h1 class="centerH">Nachhilfe nehmen</h1>
  </div>
  <div
    class="box last"
    [routerLink]="['./info']"
    [ngStyle]="{
      'background-image':
        'url(https://www.sv-hag.de/assets/img/Nachhilfe-Info.png)'
    }"
  >
    <h1 class="centerH">Allgemeine Informationen</h1>
  </div>
</div>
