<div id="container">
  <h2>SV-Account erstellen</h2>
  <form novalidate (ngSubmit)="saveTask(form.value)" #form="ngForm">
    <div *ngFor="let form of forms">
      <div>
        <label *ngIf="form.title; else elseTemplate">{{ form.title }}</label>
        <!-- prettier-ignore -->
        <ng-template #elseTemplate>
        <label>{{ form.name | titlecase }}</label>
      </ng-template>

        <!-- prettier-ignore -->
        <input
        [type]="form.name == 'pw1' ? 'password' : form.name == 'pw2' ? 'password' : 'text'"
        [name]="form.name"
        ngModel
        required
        [morsEmailValidation]="form.name == 'email' ? true : null"
        [morsKlasseValidation]="form.name == 'klasse' ? true : null"
        [morsCheckEqualInputWith]="form.name == 'pw2' ? 'pw1' : null"
        [minlength]="form.name == 'pw1' ? 8 : form.name == 'pw2'? 8 : form.name == 'klasse'? 2 : 4"
        morsXss

      />

        <mors-show-error
          *ngIf="form.title; else elseError"
          [path]="form.name"
          text="{{ form.title }}"
        >
        </mors-show-error>

        <ng-template #elseError>
          <mors-show-error
            [path]="form.name"
            text="{{ form.name | titlecase }}"
          ></mors-show-error>
        </ng-template>
      </div>
      <hr *ngIf="form.hr" />
    </div>

    <div>
      <input
        type="checkbox"
        name="datenschutz"
        id="datenschutz"
        ngModel
        required
      />
      <label for="datenschutz" class="noselect"
        >Ich habe die <a href="/">Datenschutzerklärung</a> gelesen und
        akzeptiere diese hiermit.</label
      >
    </div>
    <div id="error" *ngIf="error">{{ error }}</div>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn"
      [ngClass]="{
        btn_shadow: form.valid,
        valid: form.valid,
        notValid: !form.valid
      }"
    >
      Speichern
    </button>
    <button type="reset" class="btn btn_shadow" routerLink="/login">
      Abbrechen
    </button>
  </form>
</div>
