<div id="container">
  <h2>SV-Account erstellen</h2>
  <form novalidate (ngSubmit)="saveTask(form.value)" #form="ngForm">
    <div>
      <label>Vorname</label>
      <input type="text" name="vorname" ngModel required morsXss />
      <mors-show-error path="vorname" text="Vorname"> </mors-show-error>
      <label>Nachname</label>
      <input type="text" name="nachname" ngModel required morsXss />
      <mors-show-error path="nachname" text="Nachname"> </mors-show-error>
      <hr />
      <label>Klasse</label>
      <input
        type="text"
        name="klasse"
        ngModel
        required
        morsXss
        morsKlasseValidation
        minlength="2"
      />
      <mors-show-error path="klasse" text="Klasse"> </mors-show-error>
      <label>Email</label>
      <input
        type="email"
        name="email"
        ngModel
        required
        autocomplete="username"
        morsXss
        morsEmailValidation
      />
      <mors-show-error path="email" text="Email"> </mors-show-error>
      <label>Passwort (nicht Iserv)</label>
      <input
        type="password"
        name="passwort"
        ngModel
        required
        autocomplete="new-password"
        morsXss
        minlength="8"
      />
      <mors-show-error path="passwort" text="Passwort (nicht Iserv)"> </mors-show-error>
      <label>Passwort wiederholen</label>
      <input
        type="password"
        name="passwort2"
        ngModel
        required
        autocomplete="new-password"
        morsCheckEqualInputWith="passwort"
        morsXss
        minlength="8"
      />
      <mors-show-error path="passwort2" text="Passwort wiederholen"> </mors-show-error>
      <hr />
    </div>

    <div>
      <input type="checkbox" name="datenschutz" id="datenschutz" ngModel required />
      <label for="datenschutz" class="noselect"
        >Ich habe die <a href="/">Datenschutzerklärung</a> gelesen und akzeptiere diese
        hiermit.</label
      >
    </div>
    <div id="error" *ngIf="error">{{ error }}</div>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn"
      [ngClass]="{
        btn_shadow: form.valid,
        valid: form.valid,
        notValid: !form.valid
      }"
    >
      Speichern
    </button>
    <button type="reset" class="btn btn_shadow" routerLink="/login">
      Abbrechen
    </button>
  </form>
</div>
