<div id="container" *ngIf="!new">
  <h1>{{ articel.title }}</h1>
  <hr />
  <div id="image" [ngStyle]="{ 'background-image': articel.image }"></div>
  <div id="text">
    <p>{{ articel.text }}</p>
    <br /><span>Autor: {{ articel.autor }}</span>
  </div>
</div>

<div id="container" *ngIf="new">
  <h1 contentEditable="true" #heading></h1>
  <hr />
  <div
    id="image"
    [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
  ></div>
  <div id="text" (click)="text.focus()">
    <p contentEditable="true" #text></p>
    <br /><span>Autor: {{ user.firstName + " " + user.name }}</span>
  </div>
  <button type="submit" (click)="upload(text.innerText, heading.innerText)">
    Hochladen
  </button>
</div>
