#preQuestions {
  h1 {
    padding-top: 2rem;
    text-align: center;
    color: rgb(40, 94, 131);
  }
  #input {
    margin: 15% 20%;
    input[type="text"] {
      padding: 0.9rem 0 0.9rem 0;
      margin: 0.1rem 0 1.2rem 0;
      display: inline-block;
      border: none;
      background: #f1f1f1d0;
      text-align: center;
      border-radius: 0.2rem;
      width: 100%;
      &:focus {
        background-color: #ddd;
        outline: none;
      }
    }
    button {
      background-color: rgba(40, 94, 131, 1);
      color: white;
      padding: 1rem 20px;
      margin: 1rem 0;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      font-size: 90%;

      &:hover {
        box-shadow: 0px 8px 16px 0px rgba(10, 10, 10, 0.2);
      }
    }
  }
}

#box_overlay {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  z-index: 3;
  -ms-overflow-style: none;
  margin-top: 3rem;
  height: calc(100vh - 3rem);
  backdrop-filter: blur(0.3rem);
  width: 100%;
  top: 0;
  .box {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.1rem black dashed;
    cursor: pointer;
    margin: -0.1rem;
    &:hover {
      transform: scaleX(1.02);
      position: relative;
      z-index: +1;
      box-shadow: 0px 8px 16px 0px rgba(10, 10, 10, 0.2);
    }
    h1 {
      margin-block-start: 0;
      margin-block-end: 0;
      text-align: center;
      color: grey;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
#create_Point {
  display: block;
  position: relative;
  margin: 0 20%;
  z-index: 2;
  width: 60%;
  height: 60vh;
  top: 10rem;
  border: 0.1rem grey solid;
  border-radius: 0.35rem;
  background-color: white;
}
